header {
	background: rgb(255,204,0);
}

#footer {
    background: #333;
}

#footer p {
    margin-top: 20px;
    color: white;
}

#race-car {
    background: url(race-car.svg) no-repeat left;
    background-size: contain;
    margin: 10px;
    height: 120px;
}

.profiles {
	margin: 0 auto;
	text-align: center;
}

.profile-link {
	display: inline-block;
	padding: 0;
	margin: 10px;
	background: rgb(255,204,0);
	border: 2px solid black;
	border-radius: 5px;
	text-align: center;
	height: 110px;
	line-height: 110px;
}

.profile-link a {
	color: black;
	font-weight: bold;
    display: inline-block;
    min-width: 220px;
}

table {
	width: 100%;
}

dd {
	width: 50%;
}

.center {
    text-align: center;
}

input[type='checkbox'] {
	margin-right: 10px;
}

object {
    display: block;
    margin: 0 auto;
}

object.trophy {
    height: 100px;
    width: 100px;
}

.abu-dhabi {
    background: url(abu-dhabi-flag.svg);
}

.australian {
    background: url(australian-flag.svg);  
}

.bahrain {
    background: url(bahrain-flag.svg);
}

.belgian {
    background: url(belgian-flag.svg);
}
    
.brazilian {
    background: url(brazilian-flag.svg);
}

.british {
    background: url(british-flag.svg);   
}

.canadian {
    background: url(canadian-flag.svg);
}

.chinese {
    background: url(chinese-flag.svg);
}

.european {
    background: url(european-flag.svg);
}

.german {
    background: url(german-flag.svg);
}

.hungarian {
    background: url(hungarian-flag.svg);
}

.indian {
    background: url(indian-flag.svg);
}
 
.italian {
    background: url(italian-flag.svg);
}

.japanese {
    background: url(japanese-flag.svg);
}

.korean {
    background: url(korean-flag.svg);
}

.malaysian {
    background: url(malaysian-flag.svg);
}

.monaco {
    background: url(monaco-flag.svg);
}
.singapore {
    background: url(singapore-flag.svg);
}

.spanish {
    background: url(spanish-flag.svg);
}

.united-states {
    background: url(united-states-flag.svg);
}

.profile-link {
    background-size: cover;   
    background-position: center;
}

@media screen and (max-width: 40em) {
    #race-car {
        height: 65px;   
    }
    object {
        margin: 0;
        display: inline;
    }
    .trophies {
        display: flex;
        padding: 0;
    }
    div.trophy {
        line-height: 100px;
    }
    .trophies h2, .trophies p {
        display: inline;   
    }
    .trophies p {
        text-transform: lowercase;
    }
    .trophies p:before {
        content: " ";   
    }
}