header {
	background: rgb(255,204,0);
}

#footer {
    background: #333;
}

#footer p {
    margin-top: 20px;
    color: white;
}

#race-car {
    background: url(race-car.svg) no-repeat left;
    background-size: contain;
    margin: 10px;
    height: 120px;
}

.profiles {
	margin: 0 auto;
	text-align: center;
}

.profile-link {
	display: inline-block;
	padding: 0;
	margin: 20px;
	background: rgb(255,204,0);
	border: 2px solid black;
	border-radius: 5px;
	text-align: center;
	width: 220px;
	height: 110px;
	line-height: 110px;
}

.profile-link a {
	color: black;
	font-weight: bold;
}

table {
	width: 100%;
}

dd {
	width: 50%;
}

.center {
    text-align: center;
}

input[type='checkbox'] {
	margin-right: 10px;
}

object {
    display: block;
    margin: 0 auto;
}

object.trophy {
    height: 100px;
    width: 100px;
}

@media screen and (max-width: 40em) {
    #race-car {
        height: 65px;   
    }
    object {
        margin: 0;
        display: inline;
    }
    .trophies {
        display: flex;
        padding: 0;
    }
    div.trophy {
        line-height: 100px;
    }
    .trophies h2, .trophies p {
        display: inline;   
    }
    .trophies p {
        text-transform: lowercase;
    }
    .trophies p:before {
        content: " ";   
    }
}