header {
	background: rgb(255,204,0);
}

#footer {
    background: #333;
}

#footer p {
    margin-top: 20px;
    color: white;
}

#race-car {
    background: url(race-car.svg) no-repeat left;
    background-size: contain;
    margin: 10px;
    height: 120px;
}

.profiles {
	margin: 0 auto;
	text-align: center;
}

.profile-link {
	display: inline-block;
	padding: 0;
	margin: 10px;
	background: rgb(255,204,0);
	border: 2px solid black;
	border-radius: 5px;
	text-align: center;
	height: 110px;
	line-height: 110px;
}

.profile-link a {
	color: black;
	font-weight: bold;
    display: inline-block;
    min-width: 220px;
}

table {
	width: 100%;
}

dd {
	width: 50%;
}

.center {
    text-align: center;
}

input[type='checkbox'] {
	margin-right: 10px;
}

object {
    display: block;
    margin: 0 auto;
}

object.trophy {
    height: 100px;
    width: 100px;
}

.abu-dhabi {
    background: url(abu-dhabi-flag.svg);
}

.australian {
    background: url(australian-flag.svg);  
}

.bahrain {
    background: url(bahrain-flag.svg);
}

.belgian {
    background: url(belgian-flag.svg);
}
    
.brazilian {
    background: url(brazilian-flag.svg);
}

.british {
    background: url(british-flag.svg);   
}

.canadian {
    background: url(canadian-flag.svg);
}

.chinese {
    background: url(chinese-flag.svg);
}

.european {
    background: url(european-flag.svg);
}

.german {
    background: url(german-flag.svg);
}

.hungarian {
    background: url(hungarian-flag.svg);
}

.indian {
    background: url(indian-flag.svg);
}
 
.italian {
    background: url(italian-flag.svg);
}

.japanese {
    background: url(japanese-flag.svg);
}

.korean {
    background: url(korean-flag.svg);
}

.malaysian {
    background: url(malaysian-flag.svg);
}

.monaco {
    background: url(monaco-flag.svg);
}
.singapore {
    background: url(singapore-flag.svg);
}

.spanish {
    background: url(spanish-flag.svg);
}

.united-states {
    background: url(united-states-flag.svg);
}

.profile-link {
    background-size: cover;   
    background-position: center;
}

table.dataTable  {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #757575;
}

table.dataTable thead, table.dataTable tfoot, .dataTables_paginate a {
    text-align: left;
    background-color: #57c6ff;
}

table.dataTable tbody tr:nth-child(odd) {
    background: #FFF;
}

table.dataTable tbody tr:nth-child(even) {
   background: #F9F9F9;
}

table.dataTable td, table.dataTable th {
    padding: 8px;
}

table.dataTable tr {
    border-bottom: 1px solid #757575;
}

table.dataTable td:last-child {
    text-align: center;   
}

.dataTables_filter label {
    visibility: hidden;
}

.dataTables_filter label input {
    visibility: visible;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 10px;
}

.dataTables_paginate {
    text-align: center;
}

.dataTables_paginate a {
    display: inline-block;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    margin: 5px;
    color: #000;
}

table.dataTable thead, .dataTables_paginate a {
    cursor: pointer;
}

table.dataTable thead .sorting {
  background: url("sort_both.png") no-repeat center right;
}

table.dataTable thead .sorting_asc {
  background: url("sort_asc.png") no-repeat center right;
}

table.dataTable thead .sorting_desc {
  background: url("sort_desc.png") no-repeat center right;
}

table.dataTable thead .sorting_asc_disabled {
  background: url("sort_asc_disabled.png") no-repeat center right;
}

table.dataTable thead .sorting_desc_disabled {
  background: url("sort_desc_disabled.png") no-repeat center right;
}

@media screen and (max-width: 50em) {
    #ff1picks td:nth-child(3), #ff1picks th:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 40em) {
    #race-car {
        height: 65px;   
    }
    object {
        margin: 0;
        display: inline;
    }
    .trophies {
        display: flex;
        padding: 0;
    }
    div.trophy {
        line-height: 100px;
    }
    .trophies h2, .trophies p {
        display: inline;   
    }
    .trophies p {
        text-transform: lowercase;
    }
    .trophies p:before {
        content: " ";   
    }
    
    .top-bar-section ul {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .top-bar-section li {
        width: 25%;
    }
    .top-bar-section ul li > a {
        padding-left: 0;   
    }
}

@media screen and (max-width: 32em) {
    #ff1picks td:nth-child(5), #ff1picks th:nth-child(5) {
        display: none;
    }   
}

@media screen and (min-width: 45em) {
	.picks {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}